body {
    background-color: rgb(40, 38, 38);
    margin-top: 5rem;
}

.carousel {
    height: 400px;
    width: 80%;
    margin: 0 auto;
    position: relative;
}

.carousel__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.carousel__track-container {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.carousel__track {
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    transition: transform 250ms ease-in;
}

.carousel__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel__btn {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
}

.carousel__btn--left {
    left: -3rem;
}

.carousel__btn--right {
    right: -3rem;
}

.carousel__btn img {
    width: 2.5rem;
}

.carousel__nav {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

.carousel__indicator {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
    height: 1rem;
    width: 1rem;
    border: none;
    border-radius: 50%;
}

.carousel__indicator.current-slide {
    background-color: rgba(255, 255, 255, 0.75);
}

.hidden {
    display: none;
}